table,tr{ 
    border-style:solid; 
    border-color:purple;

}
th{
    background-image:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)) ;
    border-style:solid; 
    border-color:black;
}
td{
    background-image: radial-gradient(circle at center,pink,blue); 
    border-style:solid; 
    border-color:black;
}
caption{
    color: blueviolet;
}
table{
    border-collapse: collapse;
}